
/* Cookies *****************************************************************/

#banner_cookies
{
	width: calc(100% - 2em);
	height: auto;
	position: fixed;
	top: auto;
	bottom: 1em;
	display: none;
	z-index: 9999;
	background-color: #C89648;
	color: #fff;
	font-family: 'JosefinSans4', sans-serif;
	font-size: .9rem;
	text-align: center;
}

#banner_cookies p { padding: 0 16px; }

#banner_cookies a { color: #626CB4; }

#banner_cookies a:hover { opacity: .7; }

#banner_cookies .chiudi_popup
{
	top: 1em;
	right: 32px;
	background-color: #626CB4;
}

/* Home *****************************************************************/

/* Carousel */

#home_carousel
{
	width: 100%;
	height: calc(100% - 375px);
	min-height: calc(100% - 375px);
}

#home_slides .slides-pagination
{
	position: absolute;
	top: 50%;
	right: 2%;
	z-index: 1000;
	text-indent: -9999px;
	opacity: .7;
}

#home_slides .slides-pagination a
{
	display: block;
	width: 9px;
	height: 9px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: .5em 32px 0 0;
}

#home_carousel .slides-pagination a:hover, .current { background-color: #fff; }

#home_slides { max-height: 100%; }

/* Titoli */

.container_claim
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: auto;
	top: 15%;
	margin: 0 auto;
	width: 24%;
	text-align: center;
}

.claim_ridotto { margin: 0 31% !important; }

.container_claim .logo_carousel
{
	background-image: url("../img/logo_1.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 64%;
	height: 3.5em;
	margin: 0 auto;
}

.container_claim .tagline
{
	font-family: 'JosefinSans4', sans-serif;
	font-size: 1.938rem;
	color: #fff;
	text-shadow: 0px 0px 7px #000;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	margin: -1em auto 1em;
}

.container_claim .dingbat
{
	width: 55px;
	height: 2px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 7px #000;
	-moz-box-shadow: 0px 0px 7px #000;
	box-shadow: 0px 0px 7px #000;
	margin: 1em auto;
	display: block;
	position: relative;
}

.headline
{
	text-align: center;
	color: #fff;
	font-size: 2.5rem;
	font-family: 'JosefinSans3', sans-serif;
	text-shadow: 0px 0px 7px #000;
	letter-spacing: 2px;
}

/* Prenotazione */

.prenota
{
	font-size: .7rem;
	font-family: 'JosefinSans3', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #C89648;
	padding: 1.5em 22px;
	margin: 0 auto;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.prenota:hover, .prenota:focus
{
	color: #C89648;
	background-color: #fff;
}

.foto_home.carousel { /*background-image: url("../img/home_slide_1920.png");*/ }

.foto_home
{
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
}

#news_slides .slides-navigation
{
	position: absolute;
	top: -64px;
	right: 0;
	height: 4em;
	width: 8.3em;
	display: block;
}

#news_slides .slides-navigation a
{
	width: 4em;
	height: 3.9em;
	border: 1px solid #DEDEDE;
	display: inline-block;
	position: relative;
	float: right;
	text-indent: -9999px;
	background-image: url("../img/freccia.svg");
	background-size: 20%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
}

#news_slides .slides-navigation a.next
{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

#news_slides .slides-navigation a:hover { background-color: #ccc; }

/* Box */
 
.box_home.bg_news
{
	background-image: url("../img/logo_news.png");
	background-size: 50%;
	background-position: center 80%;
	overflow: hidden;
}

.box_home
{
	width: 33.33%;
	height: 23.44em;
	background-color: #eee;
	display: inline-block;
	float: left;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0 0;
	min-height: 23.44em;
}

/* News */

.overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 33%;
	height: 19.44em;
	min-height: 19.44em;
	background-color: #FFFAF0;
	opacity: .7;
}

#header_news
{
	position: relative;
	height: 4em;
	background-color: #fff;
	top: 0;
	bottom: auto;
}

#header_news h2
{
	font-size: 1.2rem;
	font-family: 'JosefinSans3', sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 1em 48px;
	line-height: 2rem;
}

#news_slides
{
	height: 19.44em !important;
	overflow: visible !important;
}

.container_news { overflow: hidden; }

.anteprima_news
{
	position: absolute;
	margin: 0;
	z-index: 1000;
	width: 27%;
	height: 11.44em;
	padding: 3em;
	color: #000;
	font-size: 1.1rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	font-weight: 100;
	font-family: 'JosefinSans3', sans-serif;
}

.anteprima_ridotta
{
	width: 23% !important;
	overflow: hidden;
}

.titolo_anteprima
{
	display: block;
	text-transform: uppercase;
}

.testo_anteprima { display: block; }

.data_anteprima
{
	display: block;
	margin-top: 1.2em;
}

.leggi_anteprima
{
	position: absolute;
	right: 48px;
	bottom: 48px;
}

.leggi_tutto
{
	color: #C89648;
	background-color: #fff;
	padding: 1em 22px;
	font-size: .9rem;
	border: 1px solid #C89648;
}

.leggi_tutto:hover, .leggi_tutto:focus
{
	background-color: #C89648;
	color: #fff;
}

.box_preview { text-align: center; }

.pulsante_box
{
	opacity: .7;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	font-size: .9rem;
	color: #fff;
	padding: 1em 22px;
	letter-spacing: 1px;
}

a[data-rel="1"] { background-color: #626CB4; }

.box_preview:last-child .pulsante_box { background-color: #C89648; }

.pulsante_box:hover, .pulsante_box:focus
{
	background-color: #C89648;
	opacity: 1;
}

.disponibilita
{
	position: relative;
	display: table;
	float: right;
}

.dispo_icona
{
	border-radius: 50%;
	background-color: #D1D1D1;
	opacity: .7;
	width: 16px;
	height: 16px;
	display: table-cell;
	vertical-align: middle;
	margin-right: 8px;
}

.disponibile_ico { background-color: #B0D3AC !important; }

.dispo_label
{
	font-family: 'JosefinSans3', sans-serif;
	font-size: .9rem;
	color: #95989A;
	display: table-cell;
	vertical-align: middle;
	padding-top: .2em;
	padding-left: 8px;
}

.corpo_summary.corpo_eventi { margin: 0 0 2em !important; }

.data_evento
{
	display: inline-block;
	position: relative;
	font-family: 'JosefinSans3', sans-serif;
	font-size: .9rem;
	color: #000;
	float: left;
	padding: 1.5em 0;
}

.azioni_evento
{
	display: inline-block;
	position: relative;
	float: right;
}

.azioni_evento .prenota_interno { margin: 0 !important; }

/* Pagine Interne *****************************************************************/

.containers_bio
{
	display: block;
	float: left;
}

.containers_bio
{
	display: block;
	float: left;/*max-height: 218px;*/
}

.img_bio
{
	width: 218px;
	height: 218px;
}

.img_bio img
{
	width: 100%;
	height: auto;
}

#chi_siamo
{
	width: 100%;
	height: auto;
}

#chi_siamo article:first-child
{
	margin-bottom: 2em;
	display: block;
}

#chi_siamo article:last-child { margin-bottom: 4em; }

.titolo_summary
{
	margin: 3em auto 1em;
	text-transform: uppercase;
	font-size: 2rem;
	font-family: 'JosefinSans3', sans-serif;
	letter-spacing: 1px;
	text-align: center;
}

.titolo_summary_2
{
	margin: 2em auto 1em;
	text-transform: uppercase;
	font-size: 2rem;
	font-family: 'JosefinSans3', sans-serif;
	letter-spacing: 1px;
	text-align: center;
}

.corpo_summary
{
	font-size: .9rem;
	font-family: 'JosefinSans3', sans-serif;
	word-wrap: break-word;
	line-height: 1.1rem;
	width: 52%;
	height: auto;
	margin: 0 auto;
}

#container_contenuti[rel="speciale-cenacolo"] .corpo_summary { width: 58%; }

.corpo_summary a { color: #C89648; }

.corpo_summary a:hover { opacity: .7; }

.container_bio
{
	padding: 2em;
	width: calc(95% - 234px);
	overflow: hidden;
	height: auto;
	background-color: #fff;
}

.container_bio .titolo_summary
{
	font-size: 1rem;
	color: #C89648;
	width: auto;
	text-align: left;
	float: left;
	margin: 0;
}

.container_bio .titolo_summary p { margin: 0; }

.container_bio .corpo_summary
{
	text-align: left;
	width: 100%;
	height: auto;
	margin: 0;
	float: left;
}

.align_bio
{
	width: 60%;
	display: block;
	position: relative;
	clear: both;
	margin: 0 auto 10em;
}

#carlotta_summary .titolo_summary { margin: 2em auto 1em; }

#emanuela_summary .titolo_summary { margin: 2em auto 1em; }

#emanuela_summary .corpo_summary { margin-bottom: 5em; }

/* GRIGLIA SEZIONE - ESTERNA ************************/

.griglia-sezione-esterna
{
	max-width: 1860px;
	height: auto;
	position: relative;
	overflow: hidden;
	clear: both;
	margin-top: /*120px*/ 0;
	/*margin-bottom: 20px;*/
	margin-left: auto;
	margin-right: auto;
}

.griglia_idee { margin-top: 0 !important; }

.griglia_scuole { margin-top: 5em !important; }

.griglia_centrata { width: 88% !important; }

.griglia-sezione-esterna .boxBlock
{
	display: inline-block;
	overflow: hidden;
	position: relative;
	max-width: 310px;
	width: 100%;
	height: 236px;
	margin-left: 10px;
	margin-bottom: 13px;
	/*margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;/*float: left;*/
}

.griglia-sezione-esterna .boxBlock a
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	text-decoration: none;
}

.griglia-sezione-esterna .boxBlock p
{
	background: rgba(255,255,255,0.70);
	font-family: "JosefinSans3", sans-serif;
	font-size: .9rem;
	line-height: 1.1rem;
	color: #333;
	padding: 10px 10px;
	width: calc(100% - 120px);
	display: block;
	position: relative;
	margin: 0px;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	text-decoration: none;
}

.griglia-sezione-esterna .boxBlock.art a p { font-size: 1rem !important; }

.box_info
{
	width: 290px;
	height: auto;
	border: 1px solid #DEDEDE;
	font-family: "JosefinSans3", sans-serif;
	font-size: .9rem;
	line-height: 1.1rem;
	padding: 0 16px;
	text-align: center;
	display: block;
	margin: 5em auto;
	position: relative;
}

.box_info a { color: #C89648; }

.box_info a:hover { opacity: .7; }

.boxBlock:hover { opacity: .7; }

.boxBlock:hover a p
{
	color: #fff;
	background-color: #C89648;
}

.prenota_interno
{
	font-size: .7rem;
	font-family: 'JosefinSans3', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #C89648;
	padding: 1.5em 22px;
	margin: 5em auto;
	display: inline-block;
}

.prenota_interno:hover, .prenota_interno:focus
{
	color: #C89648;
	background-color: #fff;
}

/* Popup Verticale  ************************/

.popup_verticale
{
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #fff;
}

.container_popup_verticale
{
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fafafa;
	width: calc(100% - 2em);
	height: calc(100% - 2em);
	min-height: calc(100% - 2em);
	overflow: auto;
}

.container_popup_verticale .pulsanti_interni { margin-bottom: 2em; }

.logo_popup
{
	background-image: url(../img/logo.svg);
	background-size: 100%;
	background-position: 0 0;
	background-attachment: scroll;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: 48px;
	top: 48px;
	width: 112px;
	height: 29px;
	z-index: 1000;
}

.logo_popup_1
{
	background-image: url(../img/logo_1.svg);
	background-size: 100%;
	background-position: 0 0;
	background-attachment: scroll;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: 48px;
	top: 48px;
	width: 112px;
	height: 32px;
	z-index: 1000;
}

.chiudi_popup
{
	display: block;
	position: absolute;
	width: 42px;
	height: 42px;
	background-color: #C89648;
	z-index: 1000;
	right: 48px;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'JosefinSans3', sans-serif;
}

.chiudi_popup span
{
	position: relative;
	width: 16px;
	height: 16px;
	display: block;
	background-image: url("../img/chiudi.svg");
	background-size: 100%;
	background-position: 0 0;
	background-attachment: scroll;
	background-repeat: no-repeat;
	margin: .5em auto;
}

.chiudi_popup:hover
{
	cursor: pointer;
	opacity: .7;
}

.chiudi_popup:hover
{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
}

.titolo_popup
{
	margin: 0 auto 1em;
	padding-top: 3em;
	text-transform: uppercase;
	font-size: 2rem;
	font-family: 'JosefinSans3', sans-serif;
	letter-spacing: 1px;
	text-align: center;
}

.elenco_popup
{
	display: block;
	position: relative;
	width: 64%;
	height: 47em;
	min-height: 47em;
	margin: 0 auto;
	overflow: hidden;
}

.container_popup_verticale .align_bio { width: 82%; }

.container_popup_verticale .titolo_summary { margin-bottom: 1em; }

.secondo_piano
{
	display: none !important;
	z-index: -9999 !important;
}

.header_popup
{
	display: block;
	position: relative;
	width: 100%;
	height: 26em;
	max-height: 26em;
	overflow: hidden;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.header_popup img
{
	width: 100%;
	height: auto;
}

#popup_slides .slides-pagination
{
	position: absolute;
	top: 50%;
	right: 1%;
	z-index: 1000;
	text-indent: -9999px;
	opacity: .7;
}

#popup_slides .slides-pagination a
{
	display: block;
	width: 9px;
	height: 9px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 1em 0;
}

.pdf_popup
{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	padding: 2em;
	border: 1px solid #C89648;
	margin-bottom: 3em;
}

.pdf_interno
{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	padding: .5em 16px .2em;
	border: 1px solid #C89648;
	margin-right: 16px;
}

.pdf_disattivo { pointer-events: none; }

.pdf_icona
{
	background-image: url("../img/pdf_icona.svg");
	background-size: 100%;
	background-position: 0 0;
	background-attachment: scroll;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
	margin-right: 16px;
	float: left;
}

.pdf_label
{
	font-size: .9rem;
	font-family: 'JosefinSans3', sans-serif;
	display: inline-block;
	line-height: 1.7rem;
}

.pulsante_pdf .pdf_label { color: #000; }

.pulsante_pdf:hover .pdf_popup, .pulsante_pdf:hover .pdf_interno { background-color: rgba(200,150,72,.7); }

.pulsante_pdf:hover .pdf_label { color: #fff; }

.elenco_date_dettaglio
{
	display: block;
	position: relative;
	margin: 5em auto 0;
}

.data_dettaglio
{
	display: inline-block;
	position: relative;
	margin: 0 8px;
	max-width: 120px;
	max-height: 120px;
}

.giorno_dettaglio
{
	display: inline-block;
	position: relative;
	border-top: 1px solid #DEDEDE;
	border-left: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	text-align: center;
	padding: 13.5px;
	float: left;
	max-height: 35px;
}

.giorno_dettaglio .numero
{
	font-size: 1.188rem;
	font-family: 'JosefinSans3', sans-serif;
	display: block;
	position: relative;
}

.giorno_dettaglio .mese
{
	font-size: .6rem;
	font-family: 'JosefinSans3', sans-serif;
	text-transform: uppercase;
	display: block;
	position: relative;
}

.giorno_dettaglio .anno
{
	font-size: .6rem;
	font-family: 'JosefinSans3', sans-serif;
	display: block;
	position: relative;
}

.ora_dettaglio
{
	display: inline-block;
	position: relative;
	border-top: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	padding: 1.4em 13px;
	float: left;
	max-height: 56px;
}

.elenco_date_dettaglio .prenota_interno
{
	padding: 1em 16px;
	margin: 0;
}

.elenco_date_dettaglio .disponibilita
{
	margin: 1em auto 0;
	float: none;
}

/* Prenota Ora - Popup/Form ************************/

/* Popup */

#prenota_popup
{
	display: block;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: auto;
}

#prenota_sfondo
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	opacity: .9;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

/* Form Prenotazione */

#prenota_form
{
	display: block;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	bottom: auto;
	z-index: 9999;
	width: 28%;
	height: auto;
	margin: 0 auto;
	background-color: #F5F5F5;
	padding: 1em;
	-webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 18px rgba(0, 0, 0, .2);
}

legend { display: none; }

fieldset { border: 0; }

#prenota_form label
{
	display: block;
	font-size: .9rem;
	font-family: 'JosefinSans3', sans-serif;
	color: #C89648;
}

#prenota_form label[for="oggetto_prenota"]
{
	width: 46%;
	display: inline-block;
}

#prenota_form label[for="data_prenota"]
{
	width: 28%;
	display: inline-block;
	margin-left: 20px;
}

#prenota_form label[for="ora_prenota"]
{
	width: 14%;
	display: inline-block;
	margin-left: 20px;
	font-size: .8rem;
}

#prenota_form input
{
	display: block;
	margin: 1em 0 2em;
	padding: .7em;
	border: 1px solid #EDEDED;
	width: 96%;
	outline: none;
}

#prenota_form textarea
{
	display: block;
	margin: 1em 0 1em;
	padding: .7em;
	border: 1px solid #EDEDED;
	width: 96%;
	outline: none;
	height: 7em;
}

#data_prenota { padding: .5em !important; }

#ora_prenota { padding: .5em !important; }

#prenota_form input:hover
{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
	-moz-box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
	box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
}

#prenota_form input:focus
{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
	box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
}

#prenota_form textarea:hover
{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
	-moz-box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
	box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
}

#prenota_form textarea:focus
{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
	box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
}

#accettazione_prenota
{
	width: auto !important;
	display: inline-block !important;
	margin-right: 16px !important;
}

#invia_prenota
{
	border: 0;
	margin: 0 auto 1em;
	outline: none;
}

#invia_prenota:hover { cursor: pointer; }

#prenota_form .chiudi_popup
{
	right: -64px;
	top: 0;
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
}

.richiesto_invalido { color: #ff0000 !important; }

.invalido
{
	-webkit-box-shadow: 0px 0px 10px 0px #ff0000 !important;
	-moz-box-shadow: 0px 0px 10px 0px #ff0000 !important;
	box-shadow: 0px 0px 10px 0px #ff0000 !important;
}

#form_notifica { display: none; }

/* Calendario - Espanso ************************/

/* Barra di apertura */

#apertura_calendario
{
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	z-index: 1000;
}

#apertura_titolo
{
	text-transform: uppercase;
	font-size: .9rem;
	font-family: 'JosefinSans3', sans-serif;
	display: block;
	height: 3em;
	padding: .2em 4px;
	background-color: #D14F4F;
	color: #fff;
	margin: 0;
	text-align: center;
	line-height: 2.7rem;
	-webkit-box-shadow: 0px 0px 10px 0px #000;
	-moz-box-shadow: 0px 0px 10px 0px #000;
	box-shadow: 0px 0px 10px 0px #000;
}

#apertura_titolo p { margin: 0; }

#pulsante_apertura_cal
{
	display: block;
	position: absolute;
	top: .2em;
	right: 6px;
	background-color: #fff;
	background-image: url("../img/freccia_giu.svg");
	background-attachment: scroll;
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
	width: 42px;
	height: 42px;
}

#pulsante_apertura_cal:hover
{
	cursor: pointer;
	opacity: .7;
}

.pulsante_attivo
{
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	margin-right: 16px;
}

#pulsante_apertura_cal.pulsante_attivo
{
	margin-right: 0 !important;
	left: auto !important;
}

/* Sezione Dettagli */

#calendario_dettagli
{
	display: none;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 2.5em;
}

/* Header Dettagli */

#header_dettagli
{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

#titolo_dettagli
{
	text-transform: uppercase;
	font-size: .9rem;
	font-family: 'JosefinSans3', sans-serif;
	text-align: left;
	padding: .5em 0 .5em 32px;
	background-color: #F58D8D;
	color: #fff;
	margin: 0;
	height: 2.5em;
	line-height: 2.7em;
}

#titolo_dettagli hr
{
	background-color: #fff;
	width: 90%;
	margin-top: 1.2em;
	display: inline-block;
	border: 0;
	height: 1px;
	float: right;
	opacity: .2;
}

/* Contenuti Dettagli */

#dettagli_contenuti
{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 2.5em;
	overflow: hidden;
	background-color: #fff;
}

.container_evento
{
	display: block;
	position: relative;
	width: calc(100% - 64px);
	height: auto;
	min-height: 6em;
	padding: 2em;
	background-color: #FAFAFA;
}

.container_evento:nth-child(even) { background-color: #fff; }

/* Evento */

.riga
{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 6em;
	float: left;
}

/* Data */

.data_evento_dettaglio
{
	display: inline-block;
	position: relative;
	border: 1px solid #C89648;
	width: 96px;
	height: auto;
	max-height: 6em;
	background-color: #fff;
	padding: 1em 0;
	text-align: center;
	visibility: hidden;
}

.riga:first-child .info_1 .data_evento_dettaglio { visibility: visible; }

.giorno_evento_dettaglio
{
	font-size: 1.75rem;
	font-family: 'JosefinSans3', sans-serif;
	display: block;
	position: relative;
}

.mese_evento_dettaglio
{
	font-size: .9rem;
	font-family: 'JosefinSans3', sans-serif;
	text-transform: uppercase;
	display: block;
	position: relative;
}

.anno_evento_dettaglio
{
	font-size: .9rem;
	font-family: 'JosefinSans3', sans-serif;
	display: block;
	position: relative;
}

/* Anteprima */

.container_foto_evento_dettaglio
{
	display: inline-block;
	position: relative;
	width: 407px;
	height: auto;
	min-height: 6em;
	max-height: 6em;
	overflow: hidden;
}

.immagine_evento_dettaglio
{
	display: inline-block;
	position: relative;
	float: left;
	width: 120px;
	height: auto;
	max-height: 6em;
	min-height: 6em;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.immagine_evento_dettaglio img
{
	width: 100%;
	height: auto;
	max-width: 120px;
	max-height: 6em;
}

.titolo_evento_dettaglio
{
	display: table;
	position: relative;
	float: left;
	font-size: 1.125rem;
	font-family: 'JosefinSans3', sans-serif;
	padding-left: 16px;
	width: 245px;
	height: auto;
	min-height: 5.3em;
	max-height: 6em;
	overflow: hidden;
	text-align: left;
}

.titolo_evento_dettaglio p
{
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

/* Orario */

.orario_evento_dettaglio
{
	display: inline-block;
	position: relative;
	font-size: 1rem;
	font-family: 'JosefinSans3', sans-serif;
	border: 1px solid #C89648;
	width: 119px;
	height: auto;
	max-height: 3em;
	background-color: #fff;
	padding: 1em 0;
	text-align: center;
}

/* Disponibilità */

.disponibilita_evento_dettaglio
{
	display: inline-block;
	position: relative;
}

/* Prenotazione */

.prenotazione_evento_dettaglio.cal
{
	display: inline-block;
	position: relative;
}

.prenotazione_evento_dettaglio.cal .prenota_interno { margin: 0; }

.info_container
{
	display: inline-block;
	overflow: hidden;
	position: relative;
	float: left;
	text-align: center;
}

.info_1 { margin: 0 8% 0 0; }

.info_2 { margin: 0 8% 0 0; }

.info_3
{
	margin: 0 8% 0 0;
	padding-top: 1.2em;
}

.info_4
{
	margin: 0 8% 0 8%;
	padding-top: 2.2em;
}

.info_5
{
	margin: 0 0 0 6%;
	padding-top: 1.2em;
}

/* Eventi Correlati ************************/

#correlati
{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	max-height: calc(100% - 26em);
}

.evento_correlato
{
	display: inline-block;
	position: relative;
	float: left;
	width: 33.33%;
	height: 14em;
	max-height: 14em;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
}

.evento_correlato .pulsante_box
{
	color: #000;
	background-color: #fff;
}

#correlati a:hover { opacity: .7; }

#correlati a:hover .pulsante_box
{
	color: #fff;
	background-color: #C89648;
	opacity: 1;
}

.pdf_cal_link:hover .pdf_cal { background-color: rgba(200, 150, 72, .7); }

.pdf_cal
{
	width: 130px;
	height: 130px;
	display: block;
	position: fixed;
	top: 5em;
	right: 0;
	left: auto;
	bottom: auto;
	z-index: 2000;
	background-color: #C89648;
	-webkit-box-shadow: 0px 0px 7px #000;
	-moz-box-shadow: 0px 0px 7px #000;
	box-shadow: 0px 0px 7px #000;
	padding: .5em;
	overflow: hidden;
}

.pdf_cal_label
{
	border: 1px solid #fff;
	padding: 1em;
	font-size: 1rem;
	line-height: 1.2rem;
	font-family: 'JosefinSans3', sans-serif;
	text-align: center;
	color: #fff;
	width: calc(100% - 32px);
	height: calc(100% - 32px);
	max-width: calc(100% - 32px);
	max-height: calc(100% - 32px);
}

.pdf_cal_label .icona
{
	display: block;
	position: relative;
	margin: .5em auto 0;
	width: 100%;
	height: auto;
	max-width: 67px;
	max-height: 62px;
	min-width: 67px;
	min-height: 62px;
	background-image: url("../img/pdf_icona_1.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0 0;
}

.social_share
{
	background-color: #C89648;
	display: inline-block;
	padding: .5em 8px;
	color: #fff !important;
	font-size: .9rem;
	font-family: 'JosefinSans3', sans-serif;
}

/* Custom Scroll ************************/

.mCSB_draggerRail { background-color: #95989A !important; }

.mCSB_dragger_bar
{
	background-color: #fff !important;
	border: 1px solid #95989A !important;
	width: 12px !important;
	height: 12px !important;
}

.mCSB_scrollTools .mCSB_draggerContainer { height: 80%; }

#dettagli_contenuti .mCSB_scrollTools .mCSB_draggerContainer
{
	height: 90%;
	margin-top: 1.2em;
}

#mCSB_4, #mCSB_2 { min-height: 47em; }

/* CONTATTI *************************************************/

.form-newsletter
{
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
	min-height: 100px;
	margin-top: 50px;
	padding-bottom: 100px;
}

.form-newsletter label
{
	width: 100%;
	min-height: 50px;
	text-align: center;
	font-family: "JosefinSans3", sans-serif;
	font-size: .9rem;
}

.form-newsletter label p { font-size: .9rem; }

.form-newsletter label input
{
	width: calc(100% - 10px);
	font-family: "JosefinSans3", sans-serif;
	border: 1px solid rgba(233,233,233,1.00);
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2rem;
	text-align: center;
	height: 2rem;
	outline: none;
	margin-bottom: 1em;
}

.form-newsletter label input[type="checkbox"]
{
	width: 15px;
	height: 15px;
	float: left;
	display: inline-block;
	margin-right: 10px;
	outline: none;
}

.form-newsletter label input[type="checkbox"]:hover { cursor: pointer; }

.form-newsletter button
{
	float: right;
	font-weight: 100;
	display: inline-block;
	background: #C89648;
	color: rgba(255,255,255,1.00);
	font-size: .9rem;
	font-family: "JosefinSans3", sans-serif;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 8px;
	border: none;
	cursor: pointer;
	outline: none;
}

.form-newsletter input:hover
{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
	-moz-box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
	box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
}

.form-newsletter input:focus
{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
	box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
}

.form-newsletter textarea:hover
{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
	-moz-box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
	box-shadow: 0px 0px 3px 0px rgba(200,150,72,.7);
}

.form-newsletter textarea:focus
{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
	box-shadow: 0px 0px 3px 0px rgba(200,150,72,1);
}

.form-newsletter button:hover, .form-newsletter button:focus
{
	background-color: #fff;
	opacity: .7;
	color: rgba(200,150,72,1);
}


/* Credits ************************/

#credits
{
	dispaly: block;
	position: relative;
	width: 100%;
	text-align: center;
	margin: 1em auto 5em;
	font-size: .9rem;
	font-family: "JosefinSans3", sans-serif;
	color: #000;
}

#credits a { color: rgba(200,150,72,1); }

#credits a:hover { opacity: .7; }

/* Transizioni  ************************/

#banner_cookies a { transition: all .3s ease-in-out; }

.griglia-sezione-esterna { transition: all .3s ease-in-out; }

.box_info a { transition: all .3s ease-in-out; }

.boxBlock { transition: all .3s ease-in-out; }

.boxBlock a p { transition: all .3s ease-in-out; }

.prenota_interno { transition: all .3s ease-in-out; }

.chiudi_popup { transition: all 1.3s ease-in-out; }

.corpo_summary a { transition: all .3s ease-in-out; }

.popup_verticale a { transition: all .3s ease-in-out; }

.pulsante_pdf { transition: all .3s ease-in-out; }

.pulsante_pdf .pdf_popup { transition: all .3s ease-in-out; }

.pulsante_pdf .pdf_label { transition: all .3s ease-in-out; }

#pulsante_apertura_cal { transition: transform .3s ease-in-out; }

#correlati { transition: transform .3s ease-in-out; }

.evento_correlato { transition: all .3s ease-in-out; }

.pdf_cal_link { transition: all .3s ease-in-out; }

.pdf_cal { transition: all .3s ease-in-out; }

#credits a { transition: all .3s ease-in-out; }

/* Animate */

#news_preview
{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

.box_home_centrale
{
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.box_home:last-child
{
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
