/* Webfont: Futura-CondensedMedium */@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedMedium.eot'); /* IE9 Compat Modes */
    src: url('Futura-CondensedMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Futura-CondensedMedium.woff') format('woff'), /* Modern Browsers */
         url('Futura-CondensedMedium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Futura-CondensedMedium.svg#Futura-CondensedMedium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

