RewriteEngine On 

RewriteRule ^home/?$ index.php?pag=1 [L]
RewriteRule ^chi-siamo/?$ index.php?pag=2&box=2 [L]
RewriteRule ^accento-su-arte/?$ index.php?pag=2&art=16 [L]
RewriteRule ^carlotta/?$ index.php?pag=2&art=17 [L]
RewriteRule ^emanuela/?$ index.php?pag=2&art=18 [L]
RewriteRule ^visite-guidate/?$ index.php?pag=3&box=3 [L]
RewriteRule ^calendario/?$ index.php?pag=4 [L]
RewriteRule ^news.php/?$ index.php?pag=5&box=5 [L]
RewriteRule ^novita-di-acanto/?$ index.php?pag=6&box=5 [L]
RewriteRule ^prossime-escursioni/?$ index.php?pag=7&box=5 [L]
RewriteRule ^novita-di-acanto/?$ index.php?pag=6 [L]
RewriteRule ^prossime-escursioni/?$ index.php?pag=7 [L]
RewriteRule ^mostre/?$ index.php?pag=8 [L]
RewriteRule ^viaggi-di-acanto/?$ index.php?pag=9 [L]
RewriteRule ^idee-per-una-visita/?$ index.php?pag=10&box=10 [L]
RewriteRule ^milano-e-musei/?$ index.php?pag=13&box=10 [L]
RewriteRule ^milano-insolita/?$ index.php?pag=14&box=10 [L]
RewriteRule ^calendario/?$ index.php?pag=15&box=10 [L]
RewriteRule ^milano-classica/?$ index.php?pag=29&box=10 [L]
RewriteRule ^milano-e-musei/?$ index.php?pag=13 [L]
RewriteRule ^milano-insolita/?$ index.php?pag=14 [L]
RewriteRule ^calendario/?$ index.php?pag=15 [L]
RewriteRule ^speciale-cenacolo/?$ index.php?pag=16 [L]
RewriteRule ^per-le-scuole/?$ index.php?pag=17&box=17 [L]
RewriteRule ^mostre/?$ index.php?pag=18&box=17 [L]
RewriteRule ^leonardo-a-milano/?$ index.php?pag=19&box=17 [L]
RewriteRule ^milano-la-prima-volta/?$ index.php?pag=20&box=17 [L]
RewriteRule ^scuole-primarie/?$ index.php?pag=21&box=17 [L]
RewriteRule ^scuole-primarie-primo-grado/?$ index.php?pag=22&box=17 [L]
RewriteRule ^scuole-primarie-secondo-grado/?$ index.php?pag=23&box=17 [L]
RewriteRule ^mostre/?$ index.php?pag=18 [L]
RewriteRule ^leonardo-a-milano/?$ index.php?pag=19 [L]
RewriteRule ^milano-la-prima-volta/?$ index.php?pag=20 [L]
RewriteRule ^scuole-primarie/?$ index.php?pag=21 [L]
RewriteRule ^scuole-primarie-primo-grado/?$ index.php?pag=22 [L]
RewriteRule ^scuole-primarie-secondo-grado/?$ index.php?pag=23 [L]
RewriteRule ^per-le-aziende/?$ index.php?pag=24 [L]
RewriteRule ^contatti/?$ index.php?pag=25 [L]
RewriteRule ^newsletter/?$ index.php?pag=26 [L]
RewriteRule ^calendario/?$ index.php?pag=27 [L]
RewriteRule ^idee-per-una-visita/?$ index.php?pag=28 [L]
RewriteRule ^milano-classica/?$ index.php?pag=29 [L]
RewriteRule ^cookies/?$ index.php?pag=31 [L]