@import url("font/font.css");

/* general +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body, html {
	min-width:808px;
	background:#d7e4ba;
	padding:0;
	margin:0;
    font-family:'open_sansregular';
	color:#fff;
}

.clear{
	clear:both;
	font-size:1px;
	line-height:1px;
	height:0;
}

a:hover{
	text-decoration:none;
}

.wrapper h2{
	color:#f7e527;
	font-size:21px;
	line-height:25px;
	font-family: 'NeutrafaceText-Bold';
	text-transform:uppercase;
	margin:0;
	padding:0;
}

/* header +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header{
	width:100%;
	height:46px;
	z-index:1000;
	position:fixed;
}

header.fixed{
	width:100%;
	z-index:9999;
	position:fixed;
	left:0;
	top:0;
}

header ul{
	width:100%;
	list-style:none;
	margin:40px 0 0 0;
	padding:0;
	text-align:center;
}

header ul li{
	width:auto;
	padding:0 10px;
	display:inline;
	text-align:center;
}

header ul li a{
	height:41px;
	font-size:18px;
	line-height:41px;
	font-family:'NeutrafaceText-Bold';
	font-weight:100;
	text-transform:uppercase;
	background:url(../img/bg_menu.png) repeat-x;
	display:inline-block;
	padding:0 10px;
	color:#fff;
	text-decoration:none;
}

header ul li .sel,
header ul li .sel:hover,
header ul li a:hover,
header ul li a:active{
	color:#f7e527;
}

/* wrapper +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.wrapper {
	margin-left:auto;
	margin-right:auto;
	width:960px;
	box-shadow:0 0 60px 0 rgba(0,0,0,0.3);
}

.wrapper .container{
	width:808px;
	margin:auto;
}

.wrapper .box1 {
	height:645px;
	padding:95px 0 0 0;
	background:url(../img/bg_box1.jpg);
	text-align:center;
}

.wrapper .box1 .grid_1{
	width:50%;
	float:left;
}

.wrapper .box1 .grid_2{
	width:50%;
	float:left;
}

.wrapper .box1 .grid_1 img{
	margin:30px 0 0 -50px;
}

.wrapper .box1 .grid_2 img{
	margin:0px 0 0 -70px;
}

.wrapper .box1 .grid_2 p,
.wrapper .box1 .grid_2 p a{
	padding:0;
	margin:-10px 0 0 0;
	color:#fff;
	font-size:14px;
}

.wrapper .box1 .grid_1_1,
.wrapper .box1 .grid_1_2,
.wrapper .box1 .grid_1_3,
.wrapper .box1 .grid_1_4{
	height:93px;
	display:block;
	padding:0 10px;
	float:left;
}

.wrapper .box1 .grid_1_2,
.wrapper .box1 .grid_1_3,
.wrapper .box1 .grid_1_4{
	height:66px;
	padding-top:27px;
}

.wrapper .box1 .title-yellow{
	font-size:24px;
	line-height:66px;
	color:#f7e527;
	font-family: 'NeutrafaceText-Bold';
	text-transform:uppercase;
}

.wrapper .box1 .grid{
	width:auto;
	margin:auto;
	display:inline-block;
}

.wrapper .box1 .grid p{
	font-size:14px;
	line-height:18px;
}

.wrapper .box1 .grid p a{
	color:#fff;
}

.wrapper .box1 .grid p.text-yellow{
	color:#f7e527;
	font-size:21px;
	line-height:25px;
	font-family:'NeutrafaceText-Book';
}

.wrapper .box1 .grid p.text-yellow a{
	color:#f7e527;
}

.wrapper .box2 {
	height:506px;
	background:url(../img/bg_box2.jpg);
	padding:90px 0 0 0;
	font-size:14px;
	line-height:18px;
}

.wrapper .box2 .grid_1{
	width:65%;
	float:left;
}

.wrapper .box2 .grid_1 ul{
	width:100%;
	list-style-position:inside;
	padding:0;
	margin:20px 0 0 0;
	font-size:16px!important;
	line-height:22px;
}

.wrapper .box2 .grid_1 ul li{
	padding:0 0 15px 0;
}

.wrapper .box2 .grid_1 p{
	padding:0;
	margin:0;
}

.wrapper .box2 .grid_2{
	width:30%;
	float:right;
	padding:50px 0 0 0;
	text-align:center;
}

.wrapper .box2 .grid_2 .cine-club img{
	margin:0 auto;
	color:#f7e527;
	display:block;
}

.wrapper .box2 .grid_2 .cine-club p{
	background:#89af2e;
	margin:-25px auto 0 auto;
	padding:30px 20px;
	text-align:left;
}

.wrapper .box2 .grid_2 .cine-club a{
	color:#f7e527;
}

.wrapper .box2 .grid_2 .regolamento,
.wrapper .box2 .grid_2 .termini-condizioni{
	width:auto;
	height:41px;
	font-size:16px;
	line-height:44px;
	font-family:'NeutrafaceText-Bold';
	font-weight:100;
	text-transform:uppercase;
	background:url(../img/bg_menu.png) repeat-x;
	margin:30px auto 0;
	display:inline-block;
	padding:0 20px;
	color:#fff;
	text-decoration:none;
}

.wrapper .box2 .grid_2 .regolamento:hover,
.wrapper .box2 .grid_2 .termini-condizioni:hover{
	color:#f7e527;
}

.wrapper .box2 .grid_2 .regolamento img,
.wrapper .box2 .grid_2 .termini-condizioni img{
	vertical-align:sub;
	margin:0 0 0 5px;
}

.wrapper .box3 {
	height:672px;
	background:url(../img/bg_box3.jpg);
	padding:90px 0 0 0;
}

.wrapper .box3 .grid_1,
.wrapper .box3 .grid_2{
	width:50%;
	float:left;
}

.wrapper .box3 .grid{
	font-size:18px;
	line-height:22px;
	margin:0 0 25px 0;
}

.wrapper .box3 .grid span{
	font-size:14px;
	line-height:18px;
}

.wrapper .box3 .grid .column1{
	width:48%;
	float:left;
	padding:0 0 5px 0;
}

.wrapper .box3 .grid .column2{
	width:48%;
	float:right;
	padding:0 0 5px 0;
}

.wrapper .box3 .grid .column2 p{
	width:60%;
	float:left;
	font-size:14px;
	line-height:18px;
	padding:0;
	margin:18px 0 0 0;
	text-transform:uppercase;
}

.wrapper .box3 .grid .column2 .allega{
	width:auto;
	height:41px;
	font-size:16px;
	line-height:44px;
	font-family:'NeutrafaceText-Bold';
	font-weight:100;
	text-transform:uppercase;
	background:url(../img/bg_menu.png) repeat-x;
	display:inline-block;
	padding:0 20px;
	color:#fff;
	text-decoration:none;
	float:right;
	margin:16px 0 0 0;
}

.wrapper .box3 .grid .column2 .allega:hover{
	color:#f7e527;
}

.wrapper .box3 .grid .column2 .allega img{
	vertical-align:sub;
	margin:0 0 0 5px;
}

.wrapper .box3 .grid .column2-1{
	width:23%;
	float:right;
	padding:0 0 5px 16px;
}

.wrapper .box3 .grid .column2-2{
	width:23%;
	float:right;
	padding:0 0 5px 0;
}

.wrapper .box3 .grid label{
	display:block;
	text-transform:uppercase;
	font-size:14px;
}

.wrapper .box3 .grid input{
	width:calc(100% - 20px);
	border:1px solid #fff;
	background:#fff;
	padding:0 10px;
	line-height:29px;
    font-family:'open_sansregular';
	font-size:14px;
}

.wrapper .box3 .grid .select select{
	width:100%;
	height:33px;
    margin:0;
    outline:none;
    display:inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	border:1px solid #fff;
    font-family:'open_sansregular';
	font-size:14px;
	background:#ffffff;
}

.wrapper .box3 .grid .select select option:first-child{
	color:#CCCCCC;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
     .wrapper .box3 .grid .select select {padding-right:18px}
}

.wrapper .box3 .grid label.select {
	position:relative;
	margin-top:0!important;
}

.wrapper .box3 .grid label.select:after {
    content:'';
    font-family:'open_sansregular';
	font-size:14px;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px;
	top:24px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

.wrapper .box3 .grid label.select:before {
    content:'';
    right:6px;
	top:6px;
    width:21px;
	height:21px;
    position:absolute;
    pointer-events:none;
    display:block;
	background:url(../img/arrow-select.gif);
}

/*.wrapper .box3 .grid label.select:hover:before {
	background:url(../img/button-select-over.gif);
}*/

.wrapper .box3 .grid .privacy{
	font-size:10px;
	line-height:12px;
}

.wrapper .box3 .grid .privacy a{
	color:#fff;
}

.wrapper .box3 .grid #dati-personali{
	width:auto;
	float:left;
	border:0;
}

.wrapper .box3 .grid .invia input{
	width:auto;
	height:41px;
	font-size:16px;
	line-height:44px;
	font-family:'NeutrafaceText-Bold';
	font-weight:100;
	text-transform:uppercase;
	background:url(../img/bg_menu.png) repeat-x;
	display:block;
	padding:0 20px;
	color:#fff;
	text-decoration:none;
	margin:16px auto 0;
	border:0;
	cursor:pointer;
}

.wrapper .box3 .grid .invia input:hover{
	color:#f7e527;
}

.wrapper .box3 .grid p.attention{
	font-size:14px;
	line-height:18px;
	text-align:center;
}

.wrapper .footer{
	background:#a7a9ac;
	font-size:12px;
	line-height:20px;
	color:#fff;
	padding:16px 0;
}

.wrapper .footer p{
	width:80%;
	float:left;
	margin:0;
	padding:0;
}

.wrapper .footer img{
	float:right;
}

.error{
	border:1px solid #ff0000!important;
}
