/* Webfont: JosefinSans */@font-face {
    font-family: 'JosefinSans2';
    src: url('JosefinSans.eot'); /* IE9 Compat Modes */
    src: url('JosefinSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('JosefinSans.woff') format('woff'), /* Modern Browsers */
         url('JosefinSans.ttf') format('truetype'), /* Safari, Android, iOS */
         url('JosefinSans.svg#JosefinSans') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

