@font-face {
	font-family:'FuturaMedium';
	src:url('futura-medium.eot');
	src:url('futura-medium.woff') format('woff'), url('futura-medium.svg#FuturaMedium') format('svg');
	letter-spacing:1px;
}

@font-face {
	font-family:'Futura-LightOblique';
	src:url('FuturaLightOblique.eot');
	src:url('FuturaLightOblique.woff') format('woff'), url('FuturaLightOblique.svg#Futura-LightOblique') format('svg');
}

@font-face {
	font-family:'FuturaBT-Light';
	src:url('FuturaLightBT.eot');
	src:url('FuturaLightBT.woff') format('woff'), url('FuturaLightBT.svg#FuturaBT-Light') format('svg');
}

@font-face {
	font-family:'Futura-Book';
	src:url('Futura-Book.eot');
	src:url('Futura-Book.woff') format('woff'), url('Futura-Book.svg#Futura-Book') format('svg');
}

@font-face {
	font-family:'Futura-CondensedExtraBold';
	src:url('Futura.eot');
	src:url('Futura.woff') format('woff'), url('Futura.svg#Futura-CondensedExtraBold') format('svg');
}

@font-face {
	font-family:'ACaslonPro-Regular';
	src:url('ACaslonPro-Regular.eot');
	src:url('ACaslonPro-Regular.woff') format('woff'), url('ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
}

@font-face {
	font-family:'ACaslonPro-Italic';
	src:url('ACaslonPro-Italic.eot');
	src:url('ACaslonPro-Italic.woff') format('woff'),  url('ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
}

