RewriteEngine On 

RewriteRule ^home/?$ index.php?pag=1 [L]
RewriteRule ^about-us/?$ index.php?pag=2&box=2 [L]
RewriteRule ^book-your-private-tour/?$ index.php?pag=32 [L]
RewriteRule ^book-your-last-supper/?$ index.php?pag=33 [L]
RewriteRule ^walking-tours/?$ index.php?pag=34 [L]
RewriteRule ^some-ideas/?$ index.php?pag=35 [L]
RewriteRule ^whats-on-in-milan/?$ index.php?pag=36 [L]
RewriteRule ^contacts/?$ index.php?pag=37 [L]
RewriteRule ^cookies/?$ index.php?pag=38 [L]