/* Webfont: Futura-LightOblique */@font-face {
    font-family: 'Futura-LightOblique';
    src: url('Futura-LightOblique.eot'); /* IE9 Compat Modes */
    src: url('Futura-LightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Futura-LightOblique.woff') format('woff'), /* Modern Browsers */
         url('Futura-LightOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Futura-LightOblique.svg#Futura-LightOblique') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

